<div class="addnews_div">
    <div class="addnews_text">
       <h2>Add New Article</h2>
    </div>
    <div class="news_body">
        <form [formGroup]="addNewsForm" (ngSubmit)="addNews()">
            <div class="form_data">
                <label>Enter Title:</label>
                <input  type="text" class="form-control" formControlName="title" [ngClass]="{ 'is-invalid': submitted && addNewsForm.value.title === '' }" />
                <div *ngIf="submitted && addNewsForm.value.title === ''" class="invalid-feedback">
                    <div>Please Enter the title</div>
                </div>
            </div>
            <div class="form_data">
                <label>Enter Image URL:</label>
                <input formControlName="imageUrl" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && addNewsForm.value.imageUrl === '' }" />
                <div *ngIf="submitted && addNewsForm.value.imageUrl === ''" class="invalid-feedback">
                    <div>Please Enter the image url</div>
                </div>
            </div>
            <div class="form_data">
                <label>Enter Description:</label>
                <textarea formControlName="description" class="form-control" rows="4" [ngClass]="{ 'is-invalid': submitted && addNewsForm.value.description === '' }"></textarea>
                <div *ngIf="submitted && addNewsForm.value.description === ''" class="invalid-feedback">
                    <div>Please Enter the description</div>
                </div>
            </div>
            <div class="add_btns">
                <button class = "addnews_btn" type="button" name="add_news_btn"(click)="addNews()">Add News</button>
                <button class = "cancel_btn" type="button" name="cancel_news_btn"(click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>